*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
    --textColor: #ffffffd0;
}

body{
    color: var(--textColor);
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
}

nav{
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: rgb(48, 30, 100);
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

nav ul{
    display: flex;
    margin-right: 2rem;
}

li{
    list-style: none;
}

li a{
    display: inline-block;
    text-decoration: none;
    color: var(--textColor);
    font-size: 1.2rem;
    padding: 1rem;
}


#welcome-section{
    height: 100vh;
    background: #444;
    background: linear-gradient(to right, #0d0127, #290135);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-text{
    text-align: center;
    color: var(--textColor);
}

.hero-text h1{
    font-size: 5rem;
    padding-bottom: 1.5rem;
}

.hero-text p{
    font-size: 1.2rem;
    width: 29rem;
    opacity: 0.8;
}

.skills{
    width: 33rem;
    padding-top: 7rem;
}

.skills h2{
    padding-left: 9rem;
}


.skills ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2rem;
    width: 30rem;
}

.skills li{
    font-size: 1.2rem;
}

#projects{
    min-height: 100vh;
    background-color: darkslategrey;
}

#projects > h1{
    font-size: 4rem;
    text-align: center;
    padding: 1.2rem 0;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 1.5rem;
}

#contact{
    height: 100vh;
    background-color: #444;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact ul{
    display: flex;
    align-items: center;
    justify-content: space-around;

    letter-spacing: 0.09rem;
}

.contact-text{
    text-align: center;
    padding-bottom: 3rem;
}

.contact-text h2{
    font-size: 3rem;
    padding-bottom: 0.9rem;
}

.contact-text p{
    font-size: 1.2rem;
}
